html, body {
    color: white;
    font-family: "Museo Sans 500", "Calibri", sans-serif;
}
body.loaded { /* default background */
    background: #2196f3;
}

/* Styling for slide contents */
section[data-id="some-slide-id"] {
    color: black;
}
section[data-id="box-shadow"] {
    box-shadow: inset 0 0 10vw rgba(0, 0, 0, .2), 0 0 1vw rgba(255, 255, 255, .5);
}

/* styling for body when given slides are visible */
body[data-slide_id="some-slide-id"] {
    background: #4caf50;
}
body[data-slide_id="link-id"] {
    background: #3f51b5;
}
body[data-slide_id="last-slide-id"] {
    background: #ff5722;
    transform: scale(1.7);
}

h1 {
  font-size: 12vw;
  font-weight: 500;
  margin: 0;
  text-shadow: 0 0 1vw rgba(0, 0, 0, .1);
}
a {
    color: white !important;
    outline: none !important;
}
a:hover {
    color: #fff9c4 !important;
}
blockquote {
    box-shadow: 0 0 2em rgba(255, 255, 255, .2);
    border-radius: .07em;
    padding: .7em 1.5em;
    font-family: "Museo 300", "Calibri", sans-serif;
    font-weight: 300;
    text-indent: -.4em;
    margin: 2vw;
}
p {
    margin: 2vw;
}
ul {
    list-style: inside;
}
blockquote:before {
    content: "\00201C";
}
blockquote:after {
    content: "\00201D";
}
img {
    box-shadow: .1vw .2vw 1vw rgba(0, 0, 0, .7);
}

/* vertical centering */
.centering-wrapper {
    text-align: center;
}
.centering-wrapper:before,
.centering-wrapper:after {
    content: "";
    height: 100%;
    width: 0;
    margin: 0 -1em;
}
.centering-wrapper:before,
.centering-wrapper:after,
.v-centered {
    vertical-align: middle;
    display: inline-block;
}
