html {
    overflow: hidden;
    font-size: 4vw; /* always use vw instead of pixel to ensure responsiveness */
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body.loaded { /* smooth background transition */
    transition: all .3s ease-out;
}
body.loaded section { /* smooth page content transition */
    transition: opacity .5s ease-out;
}
section {
    position: fixed;
    top: 1vw;
    bottom: 1vw;
    left: 1vw;
    right: 1vw;
    opacity: 0;
}
section:target {
    z-index: 1;
}
body:not(.muted) section:target {
    opacity: 1;
}
img {
    max-height: 100%;
    max-width: 100%;
}
.incremental:not(.revealed) {
    visibility: hidden;
}
